h1 {
  color: #F03D2B;
}

hr {
  border-top: 3px solid #F01F0F;
}

p {
  padding-left: 40px;
}

.to-side {
  display: inline-block;
  position: relative;
  bottom: 200px;
}

.App-footer p {
  text-align: center;
}

.App-body {
  min-height: calc(100vh - 480px);
}
